body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 20px 0;
}

.container {
  border: 4px solid #333;
  width: 70vw;
  height: 80vh;
  display: grid;
}




